@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
*{
    font-family: 'Manrope', sans-serif;
}
@font-face{
    font-family: "PP Telegraf";
    src: local('PPTelegraf-Regular'),
    url('assets/PPTelegraf-Regular.otf') format('opentype')
}

.telegraf{
    font-family: 'PP Telegraf' !important;
}